body {
  margin: 0;
  padding: 10px;
}

#navigation {  
  border-radius: 10px;
  overflow: hidden;
  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;

    li.navigationItem {
      float: left;
      font-size: 1.5em;
      width: 50%;

      a {
        background: rgba(0, 0, 0, .5);
        color: #fff;
        display: block;
        padding: 2em 0;
        text-align: center;
        text-decoration: none;

        &.active {
          background: rgba(0, 0, 0, .9);
          color: #fff;
          display: block !important;
          text-align: center;
          text-decoration: underline;
        }
      }
    }
  }
}
