#navigation {  
  border-radius: 10px;
  overflow: hidden;

  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;

    li.navigationItem {
      float: left;
      font-size: 1.5em;
      width: 50%;

      a {
        background: rgba(0, 0, 0, .5);
        color: #fff;
        display: block;
        height: 150px;
        line-height: 150px !important;
        text-align: center;
        text-decoration: underline;

        &.active {
          background: green;
          color: #fff;
          display: block !important;
          font-size: 2em;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}
