#registration-form {
  background: #eee;
  border: 1px rgba(0, 0, 0, .5) solid;
  border-radius: 10px;
  box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.13);
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.13);

  .success {
    background: green;
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    padding: 20px 0;
    text-align: center;
  }

  .field {
    margin: 0 4%;
    padding: 20px 0 0;

    label {
      font-size: 1.5em;
      display: block;
    }
  
    input {
      border: 1px rgba(0, 0, 0, .5) solid;
      border-radius: 5px;
      display: block;
      font-size: 2em;
      height: 50px;
      margin: 10px 0 0;
      padding: 0;
      text-indent: 0.5em;
      width: 100%;
  
      &.error {
        border: 1px #f00 solid;
        margin-bottom: 5px;
      }
    }
  
    span {
      color: #f00;
      display: block;
      padding-bottom: 5px !important;
    }  
  }

  .button-wrap {
    clear: both;
  
    button {
      background: green;
      border: 0;
      border-radius: 10px;
      color: white;
      display: block;
      font-size: 1.5em;
      height: 50px;
      margin: 20px auto;
      width: 150px;
    }  
  }
}

@media (min-width: 768px) {
  #registration-form {
    .field {
      float: left;
      width: 42%;

      &:nth-child(3), &:nth-child(4) {
        input {
          margin-bottom: 20px;

          &.error {
            margin-bottom: 5px;
          }
        }

        span {
          margin-bottom: 20px;
        }
      }
    }

    button {
      margin-top: 30px;
    }
  }
}
